<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul class="alert alert-danger">
      <div class="container">
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
    </ul>
  </div>
<% end %>
